html,
body {
  height: 100%;
}

body {
  width: 100%;
}

.header {
  color: white;
  font-size: 50px;
}

.section {
  height: 25vh;
  background: #B23EC6;
  color: white;
}

.scene {
  height: 100vh;
  width: 100vw;
  background: #EAEAEA;
}

.center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
}

.viewer {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  width: 100%;
  background-image: url(booya_clips.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.viewer.frame1 {
  background-position: -200px 50%;
}

.viewer.frame2 {
  background-position: -400px 50%;
}

.viewer.frame3 {
  background-position: -600px 50%;
}

.viewer.frame4 {
  background-position: -800px 50%;
}

.viewer.frame5 {
  background-position: -1000px 50%;
}

.viewer.frame6 {
  background-position: -1200px 50%;
}

.viewer.frame7 {
  background-position: -1400px 50%;
}

.viewer.frame8 {
  background-position: -1600px 50%;
}

.viewer.frame9 {
  background-position: -1800px 50%;
}

@-webkit-keyframes drink-coffee {
  to {
    background-position: -1800px 50%;
  }
}

@keyframes drink-coffee {
  to {
    background-position: -1800px 50%;
  }
}


.section {
  background: #29132d;
  color: #65425a;
}
#sticky {
  background-color: #120e15;
}
